<%= form_for(current_user.likes.build(post_id: @post.id), remote: true) do |f| %>
  <div><%= f.hidden_field :post_id %></div>
  <%= f.submit "#{current_user.like?(@post.id) ? 'Like' : 'Unlike'}!", class: "btn btn-large btn-primary" %>
<% end %>
